{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


<!DOCTYPE html>

<link rel="stylesheet" href="{% static 'scheduleadvisor/style.css' %}">

<html>
    <head>
        <link rel ="stylesheet" href = "{% static 'scheduleadvisor/studentIndex.css' %}">

        <nav class="navbar navbar-expand-lg px-4">
            <a class="navbar-brand">Schedule Advisor</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item nav-link">
                        <a class="nav-item nav-link active" href="{% url 'scheduleadvisor:student' %}">Home</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a class="nav-item nav-link" href="{% url 'scheduleadvisor:search' %}">Search Courses</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a class="nav-item nav-link" href="{% url 'scheduleadvisor:cart' %}">Cart</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a class="nav-item nav-link" href="{% url 'scheduleadvisor:schedules' %}">Schedules</a>
                    </li>
                </ul>
            </div>
            <span class="navbar-text px-5" >
                <a href="/logout">Logout</a>
            </span>
        </nav>

        <div class="mx-3 pt-3">

            <div class="row">
                <div class="col-1">
                    <form action="{% url 'scheduleadvisor:button_to_schedules' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Done">
                    </form>
                </div>
           

            </div>
        </div>
    </head>

    <body>
        <h4 class="text-center">Schedule: {{ schedule }}</h4>
        <div class="container col-auto border px-4 py-2 bg-light">
            <!-- each column of this row is day of the week -->
            <div class="row">
                <div class="col-sm">
                    <h5>Monday</h5>
                    <div>
                        {% for course in mondaycourses %}
                        <div class="bg-info bg-opacity-10 border border-white border-opacity-25 border-3 shadow-sm py-2 px-1 my-2 mx-2">
                            <div class="row">
                                <b class="col">{{ course }}</b>
                            </div>
                            {% if course.title != "" %}
                                <div class="my-1"><b>{{ course.title }}</b></div>
                            {% endif %}
                            {% if course.topic != "" %}
                                <div class="my-1"><b>{{ course.topic }}</b></div>
                            {% endif %}
                            <div>
                                {{ course.instructors }}
                            </div>
                            <div>
                                {{ course.start_time }} - {{ course.end_time }}
                            </div>
                            <div>
                                {{ course.classroom }}
                            </div>
                            <div>
                                {{ course.enrollment_status }}
                            </div>
                            <!-- class details button -->
                            <div class="col-1 my-2">
                            
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal{{ course.id }}">Details</button>
                                <div class="modal fade mx-3" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="modal{{ course.id }}">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div><h5>Course: {{ course }}</h5></div>
                                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="my-3 mx-3">
                                                <div class="">
                                                    {% if course.topic != "" %}
                                                        <div class="my-1"><b>Topic:</b> {{ course.topic }}</div>
                                                    {% endif %}
                                                    {% if course.title != "" %}
                                                        <div class="my-1"><b>Title:</b> {{ course.title }}</div>
                                                    {% endif %}
                                                    <div class="my-1"><b>Subject:</b> {{ course.subject_description }}</div>
                                                    <div class="my-1"><b>Career:</b> {{ course.acad_career_descr }}</div>
                                                    <div class="my-1"><b>Section Type:</b> {{ course.section_type }}</div>
                                                    <div class="my-1"><b>Instructors:</b> {{ course.instructors }}</div>
                                                </div>
                                                <div class="">
                                                    <div class="my-1"><b>Meetings</b>: {{ course.days }} {{ course.start_time }}-{{ course.end_time }}</div>
                                                    <div class="my-1"><b>Classroom:</b> {{ course.classroom }}</div>
                                                    <div class="my-1"><b>Units:</b> {{ course.units }}</div>
                                                    <div class="my-1"><b>Enrollment Status:</b> {{ course.enrollment_status }} (Seats filled: {{course.enrollment_total}}/{{course.class_capacity}})</div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm">
                    <h5>Tuesday</h5>
                    <div>
                        {% for course in tuesdaycourses %}
                            <div class="bg-info bg-opacity-10 border border-white border-opacity-25 border-3 shadow-sm py-2 px-1 my-2 mx-2">
                                <div>
                                    <b>{{ course }}</b>

                                </div>
                                {% if course.title != "" %}
                                    <div class="my-1"><b>{{ course.title }}</b></div>
                                {% endif %}
                                {% if course.topic != "" %}
                                    <div class="my-1"><b>{{ course.topic }}</b></div>
                                {% endif %}
                                <div>
                                    {{ course.instructors }}
                                </div>
                                <div>
                                    {{ course.start_time }} - {{ course.end_time }}
                                </div>
                                <div>
                                    {{ course.classroom }}
                                </div>
                                <div>
                                    {{ course.enrollment_status }}
                                </div>
                                <!-- class details button -->
                                <div class="col-1 my-2">
                            
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal{{ course.id }}">Details</button>
                                    <div class="modal fade mx-3" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="modal{{ course.id }}">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div><h5>Course: {{ course }}</h5></div>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="my-3 mx-3">
                                                    <div class="">
                                                        {% if course.topic != "" %}
                                                            <div class="my-1"><b>Topic:</b> {{ course.topic }}</div>
                                                        {% endif %}
                                                        {% if course.title != "" %}
                                                            <div class="my-1"><b>Title:</b> {{ course.title }}</div>
                                                        {% endif %}
                                                        <div class="my-1"><b>Subject:</b> {{ course.subject_description }}</div>
                                                        <div class="my-1"><b>Career:</b> {{ course.acad_career_descr }}</div>
                                                        <div class="my-1"><b>Section Type:</b> {{ course.section_type }}</div>
                                                        <div class="my-1"><b>Instructors:</b> {{ course.instructors }}</div>
                                                    </div>
                                                    <div class="">
                                                        <div class="my-1"><b>Meetings</b>: {{ course.days }} {{ course.start_time }}-{{ course.end_time }}</div>
                                                        <div class="my-1"><b>Classroom:</b> {{ course.classroom }}</div>
                                                        <div class="my-1"><b>Units:</b> {{ course.units }}</div>
                                                        <div class="my-1"><b>Enrollment Status:</b> {{ course.enrollment_status }} (Seats filled: {{course.enrollment_total}}/{{course.class_capacity}})</div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm">
                    <h5>Wednesday</h5>
                    <div >
                        {% for course in wednesdaycourses %}
                            <div class="bg-info bg-opacity-10 border border-white border-opacity-25 border-3 shadow-sm py-2 px-1 my-2 mx-2">
                                <div>
                                    <b>{{ course }}</b>
                
                                </div>
                                {% if course.title != "" %}
                                    <div class="my-1"><b>{{ course.title }}</b></div>
                                {% endif %}
                                {% if course.topic != "" %}
                                    <div class="my-1"><b>{{ course.topic }}</b></div>
                                {% endif %}
                                <div>
                                    {{ course.instructors }}
                                </div>
                                <div>
                                    {{ course.start_time }} - {{ course.end_time }}
                                </div>
                                <div>
                                    {{ course.classroom }}
                                </div>
                                <div>
                                    {{ course.enrollment_status }}
                                </div>
                                <!-- class details button -->
                                <div class="col-1 my-2">
                                                            
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal{{ course.id }}">Details</button>
                                    <div class="modal fade mx-3" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="modal{{ course.id }}">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div><h5>Course: {{ course }}</h5></div>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="my-3 mx-3">
                                                    <div class="">
                                                        {% if course.topic != "" %}
                                                            <div class="my-1"><b>Topic:</b> {{ course.topic }}</div>
                                                        {% endif %}
                                                        {% if course.title != "" %}
                                                            <div class="my-1"><b>Title:</b> {{ course.title }}</div>
                                                        {% endif %}
                                                        <div class="my-1"><b>Subject:</b> {{ course.subject_description }}</div>
                                                        <div class="my-1"><b>Career:</b> {{ course.acad_career_descr }}</div>
                                                        <div class="my-1"><b>Section Type:</b> {{ course.section_type }}</div>
                                                        <div class="my-1"><b>Instructors:</b> {{ course.instructors }}</div>
                                                    </div>
                                                    <div class="">
                                                        <div class="my-1"><b>Meetings</b>: {{ course.days }} {{ course.start_time }}-{{ course.end_time }}</div>
                                                        <div class="my-1"><b>Classroom:</b> {{ course.classroom }}</div>
                                                        <div class="my-1"><b>Units:</b> {{ course.units }}</div>
                                                        <div class="my-1"><b>Enrollment Status:</b> {{ course.enrollment_status }} (Seats filled: {{course.enrollment_total}}/{{course.class_capacity}})</div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm">
                    <h5>Thursday</h5>
                    <div>
                        {% for course in thursdaycourses %}
                            <div class="bg-info bg-opacity-10 border border-white border-opacity-25 border-3 shadow-sm py-2 px-1 my-2 mx-2">
                                <div>
                                    <b>{{ course }}</b>
                                </div>
                                {% if course.title != "" %}
                                    <div class="my-1"><b>{{ course.title }}</b></div>
                                {% endif %}
                                {% if course.topic != "" %}
                                    <div class="my-1"><b>{{ course.topic }}</b></div>
                                {% endif %}
                                <div>
                                    {{ course.instructors }}
                                </div>
                                <div>
                                    {{ course.start_time }} - {{ course.end_time }}
                                </div>
                                <div>
                                    {{ course.classroom }}
                                </div>
                                <div>
                                    {{ course.enrollment_status }}
                                </div>
                                <!-- class details button -->
                                <div class="col-1 my-2">
                            
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal{{ course.id }}">Details</button>
                                    <div class="modal fade mx-3" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="modal{{ course.id }}">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div><h5>Course: {{ course }}</h5></div>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="my-3 mx-3">
                                                    <div class="">
                                                        {% if course.topic != "" %}
                                                            <div class="my-1"><b>Topic:</b> {{ course.topic }}</div>
                                                        {% endif %}
                                                        {% if course.title != "" %}
                                                            <div class="my-1"><b>Title:</b> {{ course.title }}</div>
                                                        {% endif %}
                                                        <div class="my-1"><b>Subject:</b> {{ course.subject_description }}</div>
                                                        <div class="my-1"><b>Career:</b> {{ course.acad_career_descr }}</div>
                                                        <div class="my-1"><b>Section Type:</b> {{ course.section_type }}</div>
                                                        <div class="my-1"><b>Instructors:</b> {{ course.instructors }}</div>
                                                    </div>
                                                    <div class="">
                                                        <div class="my-1"><b>Meetings</b>: {{ course.days }} {{ course.start_time }}-{{ course.end_time }}</div>
                                                        <div class="my-1"><b>Classroom:</b> {{ course.classroom }}</div>
                                                        <div class="my-1"><b>Units:</b> {{ course.units }}</div>
                                                        <div class="my-1"><b>Enrollment Status:</b> {{ course.enrollment_status }} (Seats filled: {{course.enrollment_total}}/{{course.class_capacity}})</div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm">
                    <h5>Friday</h5>
                    <div>
                        {% for course in fridaycourses %}
                            <div class="bg-info bg-opacity-10 border border-white border-opacity-25 border-3 shadow-sm py-2 px-1 my-2 mx-2">
                                <div>
                                    <b>{{ course }}</b>
                   
                                </div>
                                {% if course.title != "" %}
                                    <div class="my-1"><b>{{ course.title }}</b></div>
                                {% endif %}
                                {% if course.topic != "" %}
                                    <div class="my-1"><b>{{ course.topic }}</b></div>
                                {% endif %}
                                <div>
                                    {{ course.instructors }}
                                </div>
                                <div>
                                    {{ course.start_time }} - {{ course.end_time }}
                                </div>
                                <div>
                                    {{ course.classroom }}
                                </div>
                                <div>
                                    {{ course.enrollment_status }}
                                </div>
                                <!-- class details button -->
                                <div class="col-1 my-2">
                            
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal{{ course.id }}">Details</button>
                                    <div class="modal fade mx-3" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="modal{{ course.id }}">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div><h5>Course: {{ course }}</h5></div>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="my-3 mx-3">
                                                    <div class="">
                                                        {% if course.topic != "" %}
                                                            <div class="my-1"><b>Topic:</b> {{ course.topic }}</div>
                                                        {% endif %}
                                                        {% if course.title != "" %}
                                                            <div class="my-1"><b>Title:</b> {{ course.title }}</div>
                                                        {% endif %}
                                                        <div class="my-1"><b>Subject:</b> {{ course.subject_description }}</div>
                                                        <div class="my-1"><b>Career:</b> {{ course.acad_career_descr }}</div>
                                                        <div class="my-1"><b>Section Type:</b> {{ course.section_type }}</div>
                                                        <div class="my-1"><b>Instructors:</b> {{ course.instructors }}</div>
                                                    </div>
                                                    <div class="">
                                                        <div class="my-1"><b>Meetings</b>: {{ course.days }} {{ course.start_time }}-{{ course.end_time }}</div>
                                                        <div class="my-1"><b>Classroom:</b> {{ course.classroom }}</div>
                                                        <div class="my-1"><b>Units:</b> {{ course.units }}</div>
                                                        <div class="my-1"><b>Enrollment Status:</b> {{ course.enrollment_status }} (Seats filled: {{course.enrollment_total}}/{{course.class_capacity}})</div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% if schedule.status == "Approved" %}
        <!-- enroll in schedule button -->
        <form class="col-auto text-center my-5" action="{% url 'scheduleadvisor:enroll' schedule.id %}" method="post">
            {% csrf_token %}
            <input class="btn btn-success col-4 mx-auto" type="submit" id="unique" value="Enroll">
        </form>
        {% endif %}
        <br>
    </body>

</html>